@charset "utf-8";
.color-bule {
    color: #64cbed;
}

.color-green {
    color: #019c29;
}

.color-orange {
    color: #fd6b00;
}

.listArea .line {
    border-bottom: 0.1rem solid #f6f6f6;
    /*2px*/
    width: 95%;
    margin: auto;
}

.z_head {
    background-color: #fe9901;
}

.listArea {
    overflow: hidden;
    padding-top: 0.9rem;
    /*18px;*/
    /* background-color:#fbfaf8; */
    min-height: 10rem;
}

.push-out {
    height: 22rem;
}

.listArea .ul1 {
    margin-bottom: 4rem;
}

.listArea ul {
    margin: -0.4rem 0.8rem 0.9rem 0.8rem;
    /*0 22px 18px 22px;*/
    background-color: #f4f4f4;
    border-radius: 1.1rem;
    /*22px;*/
    list-style: none;
    border: 0.25rem solid #e1e0de;
    /*5px solid #fff;*/
    /* 	border-image-source:url(../../images/order/phone-line.png?v=722174303370);
        border-image-width: 0 0 1.05rem 100%;0 0 21px 100%  top right bottom left */
}

.listArea ul li {
    position: relative;
    word-wrap: break-word;
}

.listArea ul .hh1 {
    display: flex;
    margin: 0.5rem 0.4rem 0.4rem 0.4rem;
    background-color: #e5e5e5;
    font-size: 0.8rem;
}

.listArea ul .hh1 .detail {
    position: relative;
}

.listArea ul .hh1 .detail .sp1 {
    line-height: 2.6rem;
    color: #000000;
    font-size: 1.3rem;
}

.listArea ul .hh1 .detail .sp2 {
    line-height: 2.6rem;
    color: #9a9a9a;
    font-size: 1.1rem;
}

.listArea ul .hh1 img {
    margin: 0.6rem 0.4rem 0.6rem 0.8rem;
    width: 1.6rem;
    height: 1.6rem;
}

.listArea ul .hh2 {
    height: 3rem;
    margin: 0.5rem 0.4rem 0.4rem 0.4rem;
    background-color: #ffffff;
    font-size: 0.8rem;
}

.listArea ul .hh2 .de-hh2 {
    position: relative;
}

.listArea ul .hh2 .de-hh2 .sp3 {
    position: absolute;
    top: 0.6rem;
    left: 0.6rem;
    color: #000000;
    font-size: 1.3rem;
}

.listArea ul .hh2 .de-hh2 .sp4 {
    position: absolute;
    left: 6.8rem;
    line-height: 2.6rem;
    font-size: 1.1rem;
    color: #707070;
}

.listArea ul .hh3 {
    height: 4rem;
    margin: -0.2rem 0.4rem 0.4rem 0.4rem;
    background-color: #ffffff;
    font-size: 0.8rem;
}

.listArea ul .hh3 .de-hh3 {
    position: relative;
    line-height: 4rem;
}

.listArea ul .hh3 .de-hh3 .sp5 {
    position: absolute;
    left: 0.6rem;
    color: #000;
    font-size: 1.3rem;
}

.listArea ul .hh3 .de-hh3 .sp6 {
    position: absolute;
    left: 6.7rem;
    font-size: 1.1rem;
    color: #707070;
}

.listArea ul .hh4 {
    height: 4rem;
    margin: 0.6rem 0.4rem 0.4rem 0.4rem;
    background-color: #ffffff;
    font-size: 0.8rem;
}

.listArea ul .hh4 .de-hh4 {
    position: relative;
    line-height: 4rem;
}

.listArea ul .hh4 .de-hh4 .sp7 {
    position: absolute;
    left: 0.6rem;
    font-size: 1.3rem;
    color: #000000;
}

.listArea ul .hh4 .de-hh4 .sp8 {
    position: absolute;
    left: 6.8rem;
    font-size: 1.1rem;
    color: #707070;
}

.listArea ul .hh4 .de-hh4 .sp88 {
    font-size: 1.1rem;
    color: #707070;
}

.listArea ul .hh6 {
    height: 4rem;
    margin: 0.6rem 0.4rem 0.4rem 0.4rem;
    font-size: 0.8rem;
    background-color: #ffffff;
}

.listArea ul .hh6 .de-hh6 {
    position: relative;
}
.listArea ul .hh6 .de-hh6 .sp11 {
    position: absolute;
    left: 0.6rem;
    line-height: 4.3rem;
    font-size: 1.3rem;
    font-weight: 545;
    color: #000;
}

.listArea ul .hh6 .de-hh6 .sp12 {
    position: absolute;
    left: 7.6rem;
    line-height: 4.3rem;
    color: #707070;
    font-size: 1.1rem;
}

.listArea ul .hh6 .de-hh6 .btn1 {
    float: right;
    height: 2.8rem;
    width: 8rem;
    color: #fff;
    padding: 0 0.5rem;
    margin-top: 0.4rem;
    margin-right: 1.1rem;
    background-color: #f7b135;
    border: solid 0.1rem #f7b135;
    border-radius: 0.5rem;
    font-size: 1.5em;
}

.listArea ul .hh6 .de-hh6 .btn2 {
    float: right;
    height: 2.8rem;
    width: 8rem;
    color: #fff;
    padding: 0 0.5rem;
    margin-top: 0.5rem;
    margin-right: 1.1rem;
    margin-bottom: 1rem;
    background-color: #f7b135;
    border: solid 0.1rem #f7b135;
    border-radius: 0.5rem;
    font-size: 1.5em;
}

.listArea ul .hh5 {
    height: 5rem;
    margin: -0.2rem 0.4rem 0.4rem 0.4rem;
    font-size: 0.8rem;
}

.listArea ul .hh5 .de-hh5 {
    position: relative;
    line-height: 5rem;
}

.listArea ul .hh5 .de-hh5 .sp9 {
    position: absolute;
    left: 0.6rem;
    font-weight: 545;
    color: #000;
    font-size: 1.3rem;
}

.listArea ul .hh5 .de-hh5 .sp10 {
    position: absolute;
    left: 6.8rem;
    color: #707070;
    font-size: 1.1rem;
}