@charset "utf-8";

/********对外 手机 订单查询+获取验证码*******/


/* 提示语样式 */

.a-div-tele {
    margin: 0.5rem 0 0;
}

.a-div-tele .teleMess {
    font-size: 1rem;
    /* 26px; */
    color: #666666;
    /* color: #ccc; */
    height: 2.5rem;
}


/* 删除功能样式 */

.deletB {
    position: relative;
}

#jobIm,
#jobIm1,
#jobIm2,
#jobIm4,
#jobIm5,
#jobIm6 {
    display: none;
    position: absolute;
    top: 0.6rem;
    right: 0.6rem;
    width: 2rem;
    height: 2rem;
}

.shanImg,
.shanImg1,
.shanImg2,
.shanImg4,
.shanImg5,
.shanImg6 {
    display: block;
    width: 100%;
    height: 100%;
}

.p-title {
    background-color: #fe9900;
    font-size: 1.3rem;
    font-weight: 700;
    padding: 4rem 0 1rem 1.5rem;
}